<shared-menu></shared-menu>
<hr>
<router-outlet></router-outlet>
<hr>

<!-- <h1>{{"fERnandO hrugeE" | uppercase | slice:1:5}}</h1> -->

<!-- <form>
  <p-calendar formControlName="date"></p-calendar>
</form> -->

<!--<p-calendar [(ngModel)]="date"></p-calendar>-->



<!-- <p-button label="Hola" (onClick)="dialgo()" icon="pi pi-check" iconPos="left"></p-button>
<hr>
<button pButton class="mp-2 alert-primary" (click)="dialgo()">hola</button> -->

<!-- <div class="card flex justify-content-center">
  <i class="pi pi-calendar"></i>
  <p-calendar [(ngModel)]="fecha"></p-calendar>
</div>  -->
